<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/jquery-1.8.3.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#receiver").change(function(){
                var rec=$("#receiver").val()

                $.ajax({
                    url:"{% url 'checkreceivername' %}",
                    data:{'rcvr':rec},
                    success:function(data){
                        if(data.valid=="not exist"){
                            alert("user does not exist")
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
    <form method="POST" action="{% url 'forwardmsgaction' %}">{% csrf_token %}
    <table>
        <tr>
            <td>Receiver Name</td>
            <td><input type="text" name="receivername" id="receiver"></td>
        </tr>
        {% for f in fwd %} 
        <tr>
            <td>Subject</td>
            <td><input type="text" name="subject" value="{{f.subject}}"></td>
        </tr>

        <tr>
            <td>Message</td>
            <td><input type="text" name="message" value="{{f.message}}"></td>
        </tr>
        {% endfor %}

        <tr>
            <td></td>
            <td><input type="submit" value="send"></td>
        </tr>
    </table>
</form>
</body>
</html>