<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Seasonfactor</td>
            <td><select name="factor">
                <option value="">--select--</option>
                {% for f in fct %} 
                <option value="{{f.id}}">{{f.factor}}</option>
                {% endfor %}
            </select></td>
        </tr>
    </table>
    
</body>
</html>