<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static\css\bootstrap.css">
    <script src="/static\js\bootstrap.js"></script>
</head>
<body>
    <form method="POST" action="{% url 'loginaction' %}">{% csrf_token %}
    
        <div class="navbar navbar-expand-lg navbar-dark bg-success">
            <div class="container-fluid">
            <a class="navbar-brand " href="#">Spam Mail</a>
            </div>
        </div>
            <div class="container w-50">
                <table>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" class="form-control mt-5"></td>
        </tr>

        <tr>
            <td>Password</td>
            <td><input type="password" name="password" class="form-control mt-2"></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="login" class="btn btn-success form-control mt-2"></td>
        </tr>
        <td><a href="{% url 'forgotpassword' %}">Forgot Password</a></td>
    </div>
    </table>
    </form>
</body>
<div class="fixed-bottom">
    <h2 class="bg-success text-center">@spammail.com</h2>
</div>

</html>