<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static\css\bootstrap.css">
    <script src="/static\js\bootstrap.js"></script>
</head>

    <div class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Spam mail</a>
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                </ul>
        </div>
    </div>
  
    <body>
        <table class="table table-bordered table-hover table-striped table-responsive">
      
        
        <tr>
            <th>Receivername</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Date</th>
            <th>Time</th>
            <th>Action</th>
           
        </tr>

        {% for v in vsmg %} 
        <tr>
            <td>{{v.receiverid.username}}</td>
            <td>{{v.subject}}</td>
            <td>{{v.message}}</td>
            <td>{{v.date}}</td>
            <td>{{v.time}}</td>

            <td><a href="{% url 'deletemsg' v.id %}">DELETE</a></td>
            
        </tr>
        {% endfor %}
    </table>
</body>
</html>
<div class="fixed-bottom">
    <h2 class="bg-success text-center">@spammail.com</h2>
</div>